@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .dark .useAutoDarkTheme {
        background-color: #090D1F;
        color: #FFF;
        transition: background-color 1s, color 1s
    }
    html {
        font-size: 16px;
    }
    .dark .moon {
        display: block;
    }
    .dark .sun {
        display: none;
    }
}
@layer components {
    .useAutoDarkTheme {
        transition: background-color 0.75s, color 0.75s
    }
    .moon {
        display: none;
    }
}